@font-face {
    font-family: 'Press Start 2P';
    src: url('./assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background: url('./assets/img/bg.jpg') center no-repeat;
    /* background: url('./assets/img/synthwave-planet--and-city-retro-wave.jpg') center no-repeat; */
    /* background: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/1098340/29a536228d2a364f89ef7cb195aa5fa309bdfdec.jpg'); */
}

.heading {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 25px;
    color: #ecc934;
}

.content {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: 175px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-wrapper {
    border: 10px solid black;
    border-radius: 4px;
}

.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.grid-size {
    font-family: 'Press Start 2p', cursive;
    margin-bottom: 5px;
}

.color-picker {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: .07s all ease;
}

.color-picker:hover {
    transform: scale(1.1);
}

.btn {
    width: 150px;
    height: 40px;
    background: #000;
    border-radius: 5px;
    border: none;
    color: #ffff;
    cursor: pointer;
    transition: .07s all ease;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

.btn:hover {
    transform: scale(1.1);
}

.btn.active {
    transform: scale(1.2);
    border: 5px solid #ecc934;
}

.grid-size {
    text-align: center;
    font-size: 24px;
    color: #ffff;
}

.size-slider {
    background-color: #ffff;
}