* {
    box-sizing: border-box;
}

.content {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(44, 1fr);
    grid-template-rows: repeat(44, 1fr); */
    padding: 0;
    margin: 0;
}

.grid-elemt {
    margin: 0;
    padding: 0;
}